In [2]:
import gzip
import pandas as pd
import requests
from io import BytesIO

def load_data_from_github(url):
    response = requests.get(url)
    compressed_file = BytesIO(response.content)
    with gzip.open(compressed_file, 'rt') as file:
        data = pd.read_csv(file, sep='\t', header=None)
    return data

url = 'https://raw.githubusercontent.com/laiguokun/multivariate-time-series-data/master/electricity/electricity.txt.gz'
data = load_data_from_github(url)

In [5]:
data.head(15)

                                                    0
0   14.000000,69.000000,234.000000,415.000000,215....
1   18.000000,92.000000,312.000000,556.000000,292....
2   21.000000,96.000000,312.000000,560.000000,272....
3   20.000000,92.000000,312.000000,443.000000,213....
4   22.000000,91.000000,312.000000,346.000000,190....
5   20.000000,92.000000,187.000000,340.000000,178....
6   20.000000,91.000000,138.000000,376.000000,199....
7   20.000000,92.000000,8.000000,361.000000,187.00...
8   13.000000,91.000000,7.000000,259.000000,144.00...
9   11.000000,96.000000,8.000000,402.000000,172.00...
10  64.000000,113.000000,13.000000,446.000000,191....
11  53.000000,142.000000,11.000000,551.000000,200....
12  26.000000,158.000000,11.000000,532.000000,236....
13  10.000000,147.000000,13.000000,364.000000,187....
14  28.000000,122.000000,17.000000,294.000000,197....

In [10]:
import pandas as pd
import zipfile
import io

# Replace 'file_path' with the path to your .zip file
zip_file_path = 'C:\\Users\\k-sav\\Desktop\\electricityloaddiagrams20112014.zip'

# Specify the name of the .txt file inside the .zip file
txt_file_name = 'LD2011_2014.txt'

# Open the .zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_file:
    # Open the .txt file inside the .zip file
    with zip_file.open(txt_file_name, 'r') as txt_file:
        # Read the content of the .txt file as a DataFrame
        df = pd.read_csv(io.TextIOWrapper(txt_file), sep=';')

# Display the DataFrame
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\k-sav\\Desktop\\electricityloaddiagrams20112014.zip'

In [1]:
/home/savvas/demo-project/

NameError: name 'home' is not defined

In [2]:
import pandas as pd
import zipfile
import io

# Replace 'zip_file_path' with the path to your .zip file in the virtual environment
zip_file_path = '/home/savvas/demo-project/electricityloaddiagrams20112014.zip'

# Specify the name of the .txt file inside the .zip file
txt_file_name = 'LD2011_2014.txt'

# Open the .zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_file:
    # Open the .txt file inside the .zip file
    with zip_file.open(txt_file_name, 'r') as txt_file:
        # Read the content of the .txt file as a DataFrame
        df = pd.read_csv(io.TextIOWrapper(txt_file), sep=';')

# Display the DataFrame
print(df.head())

/tmp/ipykernel_757/1265294196.py:16: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,125,126,127,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,157,160,164,165,167,170,173,177,178,179,181,184,185,186,223,224,255,280,289,305,308,322,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,363,364,365,366,367,368,369,370) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.TextIOWrapper(txt_file), sep=';')

            Unnamed: 0 MT_001 MT_002 MT_003 MT_004 MT_005 MT_006 MT_007  \
0  2011-01-01 00:15:00      0      0      0      0      0      0      0
1  2011-01-01 00:30:00      0      0      0      0      0      0      0
2  2011-01-01 00:45:00      0      0      0      0      0      0      0
3  2011-01-01 01:00:00      0      0      0      0      0      0      0
4  2011-01-01 01:15:00      0      0      0      0      0      0      0

  MT_008 MT_009  ... MT_361 MT_362 MT_363 MT_364 MT_365 MT_366 MT_367 MT_368  \
0      0      0  ...      0    0.0      0      0      0      0      0      0
1      0      0  ...      0    0.0      0      0      0      0      0      0
2      0      0  ...      0    0.0      0      0      0      0      0      0
3      0      0  ...      0    0.0      0      0      0      0      0      0
4      0      0  ...      0    0.0      0      0      0      0      0      0

  MT_369 MT_370
0      0      0
1      0      0
2      0      0
3      0      0
4      0      0

[5 rows x 371 columns]

In [3]:
df.head(5)

,Unnamed: 0,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
0,2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
3,2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
4,2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0

In [6]:
df.notnull()

,Unnamed: 0,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140251,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
140252,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
140253,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
140254,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
140255,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True